<div class="content">
  <h2 (click)='playerName="changed"'>{{ playerName }}, let the Battle Commence!</h2>
  <h5>Put an info box here!</h5>

  <div *ngIf="currentPlayerCard && currentOpponentCard">
    <mat-card class="card-container">

      <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title>{{ currentPlayerCard.name }}</mat-card-title>
        </mat-card-header>

        <img mat-card-lg-image src="{{ currentPlayerCard.imageurl }}" />
        <div class="button-container">
          <button
            mat-raised-button
            class="flex-item"
            (click)="handleAttack('apperception')"
          >
            Apperception: {{ currentPlayerCard.apperception }}
          </button>
          <button
            mat-raised-button
            class="flex-item"
            (click)="handleAttack('charm')"
          >
            Charm: {{ currentPlayerCard.charm }}
          </button>
          <button
            mat-raised-button
            class="flex-item"
            (click)="handleAttack('aggression')"
          >
            Aggression: {{ currentPlayerCard.aggression }}
          </button>
        </div>
        <mat-card-content>
          <p>
            {{ currentPlayerCard.description }}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title>{{ currentOpponentCard.name }}</mat-card-title>
        </mat-card-header>

        <img mat-card-lg-image src="{{ currentOpponentCard.imageurl }}" />
        <div class="button-container">
          <button mat-button class="flex-item">
            Apperception: {{ currentOpponentCard.apperception }}
          </button>
          <button mat-button class="flex-item">
            Charm: {{ currentOpponentCard.charm }}
          </button>
          <button mat-button class="flex-item">
            Aggression: {{ currentOpponentCard.aggression }}
          </button>
        </div>
        <mat-card-content>
          <p>
            {{ currentOpponentCard.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</div>

<!-- <div *ngIf='currentPlayerCard && currentPlayerCard'class="card-container">
  <div class="card">
    <span>Competitor</span>
    
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
      <img class='image' src="{{currentPlayerCard.imageurl}}"/>
  </div>

  <div class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
    <span>OPPONENT</span>
    <img class='image' src="{{currentOpponentCard.imageurl}}"/>
  </div>
</div>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

</div> -->
